<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>test page</title>
    <link
      href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css"
      rel="stylesheet"
    />
    <style>
      .hide {
        display: none;
      }
      ul {
        list-style: none;
      }
      .formArea {
        width: 300px;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    {% if exit %}

    <div class="alert alert-success" role="alert">书单已存在，请重新填写</div>
    {% endif %}
    <div class="tableArea">
      <h3>
        <span class="tit">websites</span>
        <button class="add">添加图书</button>
      </h3>

      <table class="table table-striped table-bordered ">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>url</th>
            <th>alexa</th>
            <th>country</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          <tr>
            <td>
              [[item.id]]
            </td>
            <td>
              [[item.name]]
            </td>
            <td>
              [[item.url]]
            </td>
            <td>
              [[item.alexa]]
            </td>
            <td>
              [[item.country]]
            </td>
            <td>
              <button class="delete" data-item-id="[[item.id]]">删除</button>
              <button class="editor" data-item=[[JSON.stringify(item)]]>
                修改
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="formArea hide">
      <h2>添加书单</h2>
      <form action="http://localhost:4000/website" method="POST">
        <input type="hidden" id="id">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            id="name"
            placeholder="Jane Doe"
          />
        </div>

        <div class="form-group">
          <label for="url">Url</label>
          <input
            type="text"
            name="url"
            class="form-control"
            id="url"
            placeholder=""
          />
        </div>

        <div class="form-group">
          <label for="alexa">alexa</label>
          <input
            type="text"
            name="alexa"
            class="form-control"
            id="alexa"
            placeholder=""
          />
        </div>

        <div class="form-group">
          <label for="country">country</label>
          <input
            type="text"
            name="country"
            class="form-control"
            id="country"
            placeholder=""
          />
        </div>

        <button type="submit" class="btn submit btn-primary">提交</button>
      </form>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script>
      let oTable = document.querySelector('.tableArea');
      let oForm = document.querySelector('.formArea');
      let oBtn_submit=document.querySelector('.btn.submit');
      let oBtn_add = document.querySelector('.add');

      oBtn_submit.onclick = function(){
          if(oForm.querySelector('form').dataset.method=='PUT'){
              updateItem();
              return false;
          }
       
      }

      oTable.addEventListener('click', function(e) {
        let tar = e.target;

        if ([...tar.classList].includes('delete')) {
          delItem(tar.dataset.itemId);
        }
        if ([...tar.classList].includes('editor')) {
          editorItem(tar.dataset.item);
        }
      });

      oBtn_add.onclick = function() {
        oForm.classList.remove('hide');
        oTable.classList.add('hide');
      };

      function delItem(id) {
        $.ajax({
            type:'DELETE',
            url:'http://localhost:4000/website',
            headers:{
            // "authorization": tblMessageAPIServerAccessToken,
            contentType: "application/json",
            },
            data:{id}
        })
      }
      function editorItem(item) {
        item = JSON.parse(item);
        let entries=Object.entries(item);
        for(let i=0;i<entries.length;i++){
            let ent = entries[i];
            let oInput = document.querySelector('#'+ent[0]);
            oInput.value = ent[1];

        }
        oForm.classList.remove('hide');
        oForm.querySelector('form').dataset.method='PUT';
        oTable.classList.add('hide');
        
      }

      function updateItem(){
          let inputs=oForm.querySelectorAll('input');
          let params={};
          for(let i =0;i<inputs.length;i++){
              let elm=inputs[i];
              let id=elm.id;
              let val=elm.value;
              params[id] =  val;
          }
        //   request('PUT','http://localhost:4000/website',params)
        $.ajax({
            type:'PUT',
            url:'http://localhost:4000/website',
            headers:{
            // "authorization": tblMessageAPIServerAccessToken,
            contentType: "application/json",
            },
            data:params
        })
      }

    //   function request(m,url,params){
    //       let xhr = new XMLHttpRequest();
    //       xhr.setRequestHeader('Content-type','application/x-www-form-urlencoded');
    //       xhr.open(m,url);
    //       xhr.send(params);
    //   };

     

      // btn_del.onclick=function(){
      //     console.log(this);
      // }
    </script>
  </body>
</html>
